{% extends 'base.html' %}

{% block title %}Add Product - Inventory Manager{% endblock %}

{% block content %}
   <div class="flex flex-col justify-center items-center">
    <h1 class="text-4xl font-mono p-3">Add Product</h1>

    <form method="post" class="bg-gray-200 p-5 rounded-xl h-100 text-xl space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-black text-white p-3 rounded-xl mt-5">Add Product</button>
    </form>

    
   </div>
{% endblock %}

